@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 0 10px;
}

input {
  height: 40px;
  border: 1px solid lightgray;
  margin: 10px 0;
}

textarea {
  border: 1px solid lightgray;
  margin: 10px 0;
  height: 100px;
}
