@import "tailwindcss";

@theme {
  --breakpoint-tablet: 800px;
  --breakpoint-mobile: 500px;
}

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f2f7f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button {
  font-family: "Montserrat", system-ui;
}
